<div class="jumbotron text-center">
	<h1>Título NERD está vindo da view nerd.html</h1>

	<p>{{ tagline }}</p>

  <form ng-submit="salvar()" class="form-inline" role="form">
      <div class="form-group">
        <input type="text" ng-model="nerd.nome" class="form-control" placeholder="Digite o nome">
      </div>
      <div class="form-group">
        <input type="text" ng-model="nerd.sobrenome" class="form-control" placeholder="Digite o sobrenome">
      </div>
      <button type="submit" class="btn btn-default">Adicionar Nerd</button>
  </form>
  <br>


  <div>
      <table class="table">
        <tr>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th></th>
        </tr>
        <tr ng-repeat="n in nerds">
          <td>{{n.nome}}</td>
          <td>{{n.sobrenome}}</td>
          <td><button ng-click="delete(n._id)" class="glyphicon glyphicon-trash"></button>

            <!-- <button ng-click="delete(nerd._id)">delete</button>--></td>
        </tr>
      </table>
  </div>


</div>
