<div class="jumbotron text-center">
	<h1>Título NERD está vindo da view nerd.html</h1>

	<p>{{ tagline }}</p>

  <form class="form-inline" >
      <div class="form-group">
        <input type="text" focus-on="nome" ng-model="nerd.nome" class="form-control" placeholder="Digite o nome" autofocus>
      </div>
      <div class="form-group">
        <input type="text" ng-model="nerd.sobrenome" class="form-control" placeholder="Digite o sobrenome">
      </div>
      <button ng-click="salvar()" class="btn btn-default">Adicionar</button>
      <button class="btn btn-default" ng-click="pesquisar()">Pesquisar</button>
  </form>

  <br>




  <div>
      <table class="table">
        <tr>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th></th>
        </tr>
        <tr ng-repeat="n in nerds">
          <td>{{n.nome}}</td>
          <td>{{n.sobrenome}}</td>
          <td><button ng-click="delete($index)" class="glyphicon glyphicon-trash"></button></td>
        </tr>
      </table>
  </div>


</div>